.navigation {
  width: 100%;
  height: auto;
  padding: 1.3rem 0;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.nav__container {
  position: relative;
}

.nav__inner {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  svg {
    width: 90px;
    height: auto;

    path {
      fill: var(--otherColor) !important;
      transition: all 0.5s ease;
    }
  }
}

.navbar {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav__link {
  font-size: var(--normal-font-size);
  font-family: var(--medium-font);
  a {
    color: var(--otherColor);
  }
}

.nav__left {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.contact {
  font-family: var(--medium-font);
  color: var(--buttonColor);
  padding: 0.5rem 1.25rem 0.6rem;
  border-radius: 50px;
  background-color: var(--buttonBack);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

//Responsive Design
@media screen and (max-width: 1150px) {
  .nav__logo {
    svg {
      width: 80px;
    }
  }
  
  .nav__links {
    gap: 1.5rem;
  }
  
  .navbar {
    width: max-content;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}