.navigation {
  width: 100%;
  height: auto;
  padding: 1.3rem 0;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.nav__container {
  position: relative;
}

.nav__inner {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  svg {
    width: 90px;
    height: auto;

    path {
      fill: var(--otherColor) !important;
      transition: all 0.5s ease;
    }
  }
}

.navbar {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav__link {
  font-size: var(--normal-font-size);
  font-family: var(--medium-font);
  a {
    color: var(--otherColor);
  }
}

.nav__left {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.contact {
  font-family: var(--medium-font);
  color: var(--buttonColor);
  padding: 0.5rem 1.25rem 0.6rem;
  border-radius: 50px;
  background-color: var(--buttonBack);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.menu {
  align-items: center;
  gap: 0.35rem;
  font-family: var(--medium-font);
  color: var(--otherColor);
  margin-bottom: 0.15rem;
  cursor: pointer;
  display: none;

  .menutext {
    margin-bottom: 0.1rem;
  }

  svg {
    font-size: 26px;

    path{
      &:nth-of-type(
        
      )
    }
  }
}

//Responsive Design
@media screen and (max-width: 1150px) {
  .nav__links {
    gap: 1.5rem;
  }

  .navbar {
    left: 45%;
  }

  .nav__left {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    display: none;
  }

  .contact {
    display: none;
  }

  .nav__logo {
    svg {
      width: 80px;
    }
  }

  .menu {
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  .lng__select {
    display: none;
  }
}
