.navigation {
  width: 100%;
  height: auto;
  padding: 1.25rem 0;
}

.nav__container{
  position: relative;
}

.nav__inner {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  svg {
    width: 100px;
    height: auto;

    path {
      fill: white !important;
      transition: all 0.5s ease;
    }
  }
}

.navbar {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__link {
  font-size: var(--normal-font-size);
  a {
    color: white;
  }
}


