.p__bottom {
  width: 100%;
  height: auto;
  padding: 2rem 0 7rem;
}

.pb__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pb__sortfilter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__button{
  padding: 0.65rem 1.25rem 0.7rem;
  background: var(--darkblue);
  color: white;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
  border-radius: 4px;

  svg{
    width: 20px;
    height: auto;
  }
}

.
