.pb__section{
  width: 100%;
  padding: 4rem 0 7rem;
  position: relative;
}

.pb__container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.pbc__left{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pnames{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.p__name{
  font-weight: 200;
  font-family: var(--medium-font);
  color: var(--darkblue);
  font-size: var(--40-font-size);
}

.p__location{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}