.ph__section{
  padding: 9.5rem 0 2rem;
  position: relative;
  width: 100%;
  height: auto;
}

.linkhero{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ls__left{
  font-family: var(--medium-font);

  a{
    color: var(--darkblue);
    
    transition: all 0.5s ease;
  }
}