.pb__section {
  width: 100%;
  padding: 4rem 0 2rem;
  position: relative;
}

.pb__container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.pbc__topper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: space-between;
}

.pbc__left {
  width: 58%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.pnames {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.p__name {
  font-weight: 200;
  font-family: var(--medium-font);
  color: var(--darkblue);
  font-size: var(--40-font-size);
}

.p__location {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  svg {
    width: 24px;
    height: auto;
  }
}

.location {
  font-family: var(--medium-font);
  color: var(--darkblue);
  font-size: calc(var(--20-font-size));
}

.pmid {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;

  p {
    line-height: 1.4;
  }
}

.pbottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
}

.action__select {
  width: 100%;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-end;
  gap: 1.75rem;
  position: relative;
}

.border {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.action {
  cursor: pointer;
  padding: 1rem 0;
  transition: all 0.5s ease;
  border-bottom: 1px solid transparent;

  &.active {
    border-bottom: 1px solid var(--darkblue);
    color: var(--darkblue);
  }
}

.pbcontent {
  width: 100%;
  height: auto;
}

.general {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1.5rem;
}

.gen {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: var(--darkblue);
  font-family: var(--medium-font);

  svg {
    width: 22px;
    height: auto;

    path {
      fill: var(--darkblue);
    }
  }
}

.bed {
  svg {
    width: 22px;
    height: auto;

    path {
      fill: none !important;
      stroke: var(--darkblue);
    }
  }
}

.ammenities {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  row-gap: 0.8rem;
  margin-left: 1rem;
}

.otherdet {
  color: var(--darkblue);
}

.pbc__right{
  width: 32%;
  background-color: var(--blueback);
  padding: 1.5rem 1.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 8px;
}

.pcr__top{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.pt__image{
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  overflow: hidden;

  img{
    object-fit: cover;
  }
}

.pt__content{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.agent__name{
  font-weight: 200;
  font-size: var(--20-font-size);
  color: var(--darkblue);
  font-family: var(--medium-font);
}

.ptcc__bot{
  display: flex;
  flex-direction: column;
  gap: 0.05rem;
  font-size: calc(var(--normal-font-size) - 0.1rem);
}

.position{
  color: var(--darkblue);
  font-family: var(--medium-font);
}

.pcr__bottom{
  width: 100%;
  display: fl;
}

.pbc__bottomer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.pbc__h3 {
  font-weight: 200;
  font-size: var(--30-font-size);
  font-family: var(--medium-font);
  color: var(--darkblue);
}

.gallery {
  width: 100%;
  column-count: 2;
  column-gap: 20px;
}

.gallery__images {
  break-inside: void;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: auto;

  img {
    object-fit: cover;
  }
}

.video__wrapper{
  width: 100%;
  aspect-ratio: 16/10;
}