.hp__section{
  width: 100%;
  height: auto;
}

.hp__h3 {
  font-weight: 200;
  font-family: var(--lora-font);
  font-size: var(--50-font-size);
  letter-spacing: -2%;
  color: var(--darkblue);
  line-height: 1.15;
  width: 60%;
}

.hp__swiper{
  margin-top: 4rem;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-left: calc((100vw - 1440px) / 2);
}

.slider{
  width: 100%;
}

.controls__container{
  margin-top: 3rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__wrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button, .button2{
  width: 54px;
  height: 54px;
  border-radius: 54px;
  border: 1px solid var(--darkblue);
  display: grid;
  place-items: center;
  cursor: pointer;

  svg{
    width: 28px;
    height: auto;
  }
}