.hp__section{
  width: 100%;
  height: auto;
  display: flex;
  
}

.hp__h3 {
  font-weight: 200;
  font-family: var(--lora-font);
  font-size: var(--50-font-size);
  letter-spacing: -2%;
  color: var(--darkblue);
  line-height: 1.15;
  width: 60%;
}