.process{
  width: 100%;
  height: auto;
}

.process__container{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.process__image{
  width: 50%;
  aspect-ratio: 660/780;
  position: relative;

  img{
    object-fit: cover;
  }
}

.process__right{
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.pr__top{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.ts__span {
  font-family: var(--medium-font);
  color: var(--blue);
  text-transform: uppercase;
  text-align: center;
  font-size: calc(var(--small-font-size) + 0.1rem);
}

.ts__h3 {
  font-weight: 200;
  font-family: var(--lora-font);
  font-size: var(--50-font-size);
  letter-spacing: -2%;
  color: var(--darkblue);
  line-height: 1.15;
}