.homehero {
  width: 100%;
  height: 115vh;
  position: relative;
  max-height: 864px;
  min-height: 800px;
}

.background__image {
  width: 100%;
  height: 100%;
  position: relative;
  filter: brightness(0.7);

  img {
    object-fit: cover;
  }
}

.hero__main {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  top: calc(130px + 1.5rem);
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.garant {
  font-size: var(--small-font-size);
  font-family: var(--medium-font);
  padding: 0.4rem 0.75rem 0.45rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  font-weight: 200;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.hero__h2 {
  font-size: var(--70-font-size);
  font-family: var(--lora-font);
  text-align: center;
  font-weight: 200;
  letter-spacing: -3%;
  line-height: 1.2;
}

.hero__p {
  text-align: center;
  line-height: 1.4;
  font-family: var(--medium-font);
}

.hero__button {
  margin-top: 1rem;
}

.hero__bottom {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: var(--medium-font);
}

.logos {
  display: flex;
  align-items: center;
  gap: 3.25rem;
  opacity: 0.85;
}

.iconwrap {
  height: auto;

  svg {
    width: 100%;
    height: auto;
  }
}

.hm__one {
  display: flex;
  align-items: center;
  gap: 6rem;
  padding-right: 6rem;
  white-space: nowrap;
}

.hero__marquee {
  width: 100%;
  height: auto;
  padding: 0.5rem 0 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0;
}

//Responsove Design
@media screen and (max-width: 1088px) {
  .hero__h2 {
    font-size: calc(var(--70-font-size) + 1rem);
  }
}

@media screen and (max-width: 750px) {
  .hero__h2 {
    font-size: calc(var(--70-font-size) + 0.5rem);
  }

  .hero__main {
    width: 90%;
    gap: 1.5rem;
    top: calc(130px + 1.7rem);
    left: 50%;
  }

  .hero__p {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .hero__main {
    width: 95%;
    position: relative;
    padding-top: 7rem;
  }

  .hero__h2 {
    font-size: calc(var(--70-font-size) + 0.2rem);
  }

  .hero__p {
    width: 95%;
  }

  .hero__bottom {
    bottom: 0.75rem;
  }

  .hero__marquee {
    padding: 0.2rem 0 0.65rem;
  }

  .hm__one {
    display: flex;
    align-items: center;
    gap: 4.5rem;
    padding-right: 4.5rem;
    white-space: nowrap;
  }

  .hero__bottom {
    position: relative;
    bo
  }

  .background__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
  }

  .homehero {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .background__image {
    img {
      object-fit: cover;
      object-position: 30% 50%;
    }
  }
}

@media screen and (max-width: 390px) {
  .hero__h2 {
    font-size: calc(var(--70-font-size) - 0.2rem);
  }
}
