.marquee{
  width: 100%;
  padding: 6rem 0 !important;
}

.marquee__container{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.ms__span {
  font-family: var(--medium-font);
  color: var(--blue);
  text-transform: uppercase;
  text-align: center;
  font-size: calc(var(--small-font-size) + 0.1rem);
}

.ms__h3 {
  font-weight: 200;
  font-family: var(--lora-font);
  font-size: var(--50-font-size);
  letter-spacing: -2%;
  color: var(--darkblue);
  text-align: center;
  line-height: 1.15;
  color: ;
}
