.prefooter {
  padding: 7rem 0 !important;
  width: 100%;
}

.pf__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.pr__images {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.images {
  position: relative;

  img {
    object-fit: cover;
  }
}

.imgOne {
  width: 29vw;
  aspect-ratio: 330/450;
}

.imgTwo {
  width: 18vw;
  aspect-ratio: 250/310;
}

.imgThree {
  width: 35vw;
  aspect-ratio: 400/520;
}

.imgFour {
  width: 18vw;
  aspect-ratio: 250/380;
}

.pr__bottom{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}

.pt__h1 {
  font-weight: 200;
  font-family: var(--lora-font);
  font-size: calc(var(--70-font-size) + 0.75rem);
  letter-spacing: -2%;
  color: var(--darkblue);
  line-height: 1.25;
}

.prr__right{
  width: 40%;
  dis
}