.quicksearch {
  width: 100%;
  height: auto;
}

.qs__container {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  align-items: center;
}

.top__sec {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
}

.ts__span {
  font-family: var(--medium-font);
  color: var(--blue);
  text-transform: uppercase;
  text-align: center;
  font-size: calc(var(--small-font-size) + 0.1rem);
}

.ts__h3 {
  font-weight: 200;
  font-family: var(--lora-font);
  font-size: var(--50-font-size);
  letter-spacing: -2%;
  color: var(--darkblue);
  text-align: center;
  line-height: 1.15;
}

//Main Quick Search
.qs__main {
  width: max-content;
  height: auto;
  padding: 2.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.transaction {
  width: max-content;
  padding: 0.325rem;
  background-color: var(--blueback);
  position: relative;
  border-radius: 6px;
  z-index: 1;
}

.tran__inner {
  display: flex;
  align-items: center;
  gap: 0;
  position: relative;
  width: max-content;
}

.transac {
  width: 110px;
  height: 44px;
  // background-color: var(--darkblue);
  color: var(--darkblue);
  display: grid;
  place-items: center;
  border-radius: 6px;
  z-index: 1;
  font-family: var(--medium-font);
  transition: all 0.5s ease;
  cursor: pointer;

  &.active {
    color: white;
    cursor: default;
  }
}

.indicator {
  width: 110px;
  height: 44px;
  background-color: var(--darkblue);
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  border-radius: 6px;
  transform: none;
  transition: all 0.5s ease;

  &.active {
    transform: translateX(100%);
  }
}

.others {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}

.quick__modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal {
  position: relative;
}

.qm__span {
  font-family: var(--medium-font);
}

.modal__top {
  width: 230px;
  height: 48px;
  background-color: var(--blueback);
  border-radius: 6px;
  padding: 0 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: calc(var(--normal-font-size) - 0.1rem);
  color: var(--darkblue);
}

.chev {
  transform: none;
  transition: all 0.5s ease;

  svg {
    width: 16px;
    height: auto;

    path {
      fill: var(--text-color);
    }
  }

  &.active {
    transform: rotate(-180deg);
  }
}

.modal__options {
  width: 230px;
  background-color: white;
  display: flex; // always flex
  flex-direction: column;
  gap: 0;
  border-radius: 6px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  position: absolute;
  top: calc(100% + 10px);
  box-shadow: 0 4px 8px #00000026;
  border: 1px solid rgba(114, 114, 114, 0.1);
  max-height: 0;
  opacity: 0;
  pointer-events: none; // prevents clicks when hidden
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease;
  user-select: none;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 var(--blueback);

  &.active {
    max-height: 161px;
    opacity: 1;
    pointer-events: all;
    overflow-y: auto;
  }
}

.mo__span {
  padding: 0.65rem 1.2rem;
  border-top: 1px solid rgba(114, 114, 114, 0.1);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s ease;
  font-size: calc(var(--normal-font-size) - 0.15rem);

  &:hover {
    background-color: var(--blueback);
  }

  &:nth-of-type(1) {
    border-top: none;
  }
}

.searchbutton {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--darkblue);
  display: grid;
  place-items: center;

  svg {
    width: 24px;
    height: auto;
  }
}

.searchbutton2 {
  height: 48px;
  border-radius: 4px;
  background-color: var(--darkblue);
  display: grid;
  place-items: center;
  color: white;
  fon

  svg {
    width: 24px;
    height: auto;
  }
  display: none;
}

.inner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

//Responsive Design
@media screen and (max-width: 1230px) {
  .qs__main {
    padding: 2rem 2rem;
    width: 80%;
  }

  .others {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .top__sec {
    width: 65%;
    gap: 1.25rem;
  }
}

@media screen and (max-width: 810px) {
  .qs__main {
    padding: 2rem 2rem;
    width: 65%;
  }

  .others {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
  }

  .quick__modal {
    gap: 1rem;
    width: 100%;
  }

  .modal {
    width: 100%;
  }

  .modal__top {
    width: 100%;
  }

  .top__sec {
    width: 75%;
    gap: 1.25rem;
  }

  .searchbutton2 {
    width: 100%;
    display: grid;
    place-items: center;
  }
}
