.reusehero{
  width: 100%;
  height: auto;
  padding: 11rem 0 6rem;
}

.rh__h1{
  font-family: var(--lorafont);
  font-weight: 300;
  font-size: var(--70-font-size);
  color: var(--darkblue);
  width: 60%;
  te
}